# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.log

# =========================
# Virtual environments
# =========================
.venv/
venv/
ENV/
env/

# =========================
# Environment / secrets
# =========================
.env


# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Coverage / test reports
# =========================
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# Docker / local data (optional)
# =========================
*.sqlite
